<a href="https://colab.research.google.com/github/giiozz/Global-Superstore/blob/main/Chp4_b_Ex_1_BR2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Chp4_b_Ex

**1.** Write a Python program to create the multiplication table of a positive number.

#### TEST CASES

1. Input (11) --
   
   Output:
   
        11 x 1 = 11
        11 x 2 = 22
        11 x 3 = 33
        11 x 4 = 44
        11 x 5 = 55
        11 x 6 = 66
        11 x 7 = 77
        11 x 8 = 88
        11 x 9 = 99
        11 x 10 = 110
        11 x 11 = 121

2. Input (1) -- Output (1 x 1 = 1)

3. Input (0) -- Output (Error: Please input a postivie number.)

4. Input (-2) -- Output (Error: Please input a postivie number.)

In [ ]:
while True:
  try:
    user_input = int(input("Enter a number: "))
    while user_input <= 0:
      user_input = int(input("Please enter a positive number."))
    for i in range(user_input+1):
      print(f"{user_input} X {i} = {user_input * i}")
    break
  except ValueError:
    print("Error: Please enter a whole number.")

Enter a number: 11
11 X 0 = 0
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110
11 X 11 = 121

**2.** Write programs that read a line of input as a string and print the string, with all vowels replaced by a comma.

#### TEST CASES

1. Input (We have a dog.) -- Output (W, h,v, , d,g.)

2. Input (Quick frozen fox jumps over the lazy dog.)

   Output (Q,,ck fr,z,n f,x j,mps ,v,r th, l,zy d,g.)

In [ ]:
#constant - dictionary that defines which upper/lower case letters to replace with ,. Uses ascii character codes.
VOWEL_REPLACEMENTS = {97:44, 101:44, 105:44, 111:44, 117:44, 65:44, 69:44, 73:44, 79:44, 85:44}
user_input = input("Enter a word or phrase: ")
#accesses the dictionary and translates the letters within to ,
print(user_input.translate(VOWEL_REPLACEMENTS))

Enter a word or phrase: We have a dog.
W, h,v, , d,g.

**3.** Write a Python program to construct the following pattern, using a nested loop number, which is an input interger from the user.

        1 22 333 4444 55555 666666 7777777 88888888 999999999 ... ... nnnnnnnnnnnnnnn

#### TEST CASES

1. Input (0) -- Output (Error: Please input an integer other than 0.)

2. Input (9) --

   Output
              
       1
       22
       333
       4444
       55555
       666666
       7777777
       88888888
       999999999

3. Input (-9) --

   Output
                
       1
       22
       333
       4444
       55555
       666666
       7777777
       88888888
       999999999

**4.** Write a program that cumputes the number of years required to double the initial balance. And the user inputs initial balance **(positive)**, and the rate **(positive)**.

#### TEST CASES

1. input (0)
   
       output (Sorry, I didn't understand that. The balance should be positive.)
  
2. input (3500, -5)

       output (Sorry, I didn't understand that. The rate should be positive.)
       
3. input (400, 1)

       output (With a initial balance of $400.00, the investment can be doubled after 70 years at a rate of 1.00 %.)